.navi-menu-list-item {
  &:hover {
    background-color: transparent;
  }

  .no-hover {
    background-color: transparent;
  }

  .MuiListItem-button:hover {
    background-color: transparent;
  }
}

.navi-menu-container {
  .navi-menu-list-item {
    padding: 0px;

    .navi-item-selected {
      background-color: #f0f9ff;

      &:hover {
        background-color: #f0f9ff;
      }
    }

    .navi-icon-selected {
      svg {
        color: #0975d7;
      }
    }

    .navi-menu-item-action-icon-large {
      svg {
        height: 20px;
        width: 20px;
        color: #6b697b;
      }
    }

    .navi-menu-item-action-icon-small {
      height: 16px;
      width: 16px;
      color: #6b697b;
    }
  }

  .descriptive-small {
    height: 52px;
  }

  .descriptive-large {
    height: 62px;
  }

  .text-only-small {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #3d3c52;
  }

  .text-only-large {
    height: 44px;
    color: #3d3c52;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .group-heading-small {
    height: 36px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .group-heading-large {
    height: 48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .divider-small {
    height: 18px;
    min-height: 18px;
  }

  .divider-large {
    height: 26px;
    min-height: 26px;
  }

  .empty-large {
    height: "44px";
    min-height: "44px";
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6b697b;
  }

  .empty-small {
    height: "32px";
    min-height: "32px";
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6b697b;
  }
}