@import "../../tokens/build/scss/variables.scss";
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.navi-input-label {
  font-size: $input-label-base-font-size;
  font-family: $input-label-base-font-family;
  line-height: $input-label-base-line-height;
  justify-content: $input-label-base-justify-content;
  font-weight: $input-label-base-font-weight;
  margin-bottom: $input-label-base-margin-bottom;
  display: $input-label-base-display;
  color: $input-label-base-color;

  .helper-text {
    margin-top: $input-label-helper-margin-top;
    line-height: $input-label-helper-line-height;
    font-size: $input-label-helper-font-size;
    font-family: $input-label-base-font-family;
    font-weight: $input-label-helper-font-weight;
    color: $input-label-helper-color;
    word-break: $input-label-helper-word-break;
  }

  // .success-message {
  //   margin-top: $input-label-success-margin-top;
  //   line-height: $input-label-success-line-height;
  //   font-size: $input-label-success-font-size;
  //   font-family: $input-label-base-font-family;
  //   font-weight: $input-label-success-font-weight;
  //   color: $input-label-success-color;
  //   word-break: $input-label-success-word-break;
  // }

  // .error-message {
  //   margin-top: $input-label-error-margin-top;
  //   line-height: $input-label-error-line-height;
  //   font-size: $input-label-error-font-size;
  //   font-family: $input-label-base-font-family;
  //   font-weight: $input-label-success-font-weight;
  //   color: $input-label-error-color;
  //   word-break: $input-label-error-word-break;
  // }

  // .base-input {
  //   box-sizing: $input-type-root-box-sizing;
  //   background-color: $input-type-root-background-color;
  //   border-radius: $input-type-root-border-radius;
  //   min-width: $input-type-root-min-width;
  //   padding: $input-type-root-padding;
  //   text-overflow: $input-type-root-text-overflow;
  //   font-family: $input-label-base-font-family;
  //   font-style: $input-type-root-font-style;
  //   font-weight: $input-type-root-font-weight;
  //   &:hover {
  //     outline: $input-type-hover-outline;
  //   }
  // }
  // .large {
  //   height: $input-size-large-height;
  //   font-size: $input-size-large-font-size;
  //   line-height: $input-size-large-line-height;
  //   ::-webkit-input-placeholder {
  //     font-family: $input-placeholder-font-family;
  //     font-style: $input-placeholder-font-style;
  //     line-height: $input-placeholder-large-line-height;
  //     font-size: $input-placeholder-large-font-size;
  //     font-weight: $input-placeholder-font-weight;
  //     color: $input-placeholder-color;
  //   }
  // }
  // .small {
  //   height: $input-size-small-height;
  //   font-size: $input-size-small-font-size;
  //   line-height: $input-size-small-line-height;
  //   ::-webkit-input-placeholder {
  //     font-family: $input-placeholder-font-family;
  //     font-style: $input-placeholder-font-style;
  //     line-height: $input-placeholder-small-line-height;
  //     font-size: $input-placeholder-small-font-size;
  //     font-weight: $input-placeholder-font-weight;
  //     color: $input-placeholder-color;
  //   }
  // }
  // .disabled {
  //   outline: $input-type-disabled-outline;
  //   background-color: $input-type-disabled-background-color;
  //   font-family: $input-type-disabled-font-family;
  //   font-style: $input-type-disabled-font-style;
  //   &:hover {
  //     outline: $input-type-disabled-outline;
  //   }
  // }
  // .empty-field {
  //   &:hover {
  //     background-color: $input-type-root-background-color;
  //   }
  // }
  // .filled-field {
  //   &:hover {
  //     background-color: $input-type-hover-background-color;
  //   }
  // }
  // .default {
  //   outline: $input-type-default-outline;
  // }
  // .success {
  //   outline: $input-type-success-outline;

  //   &:hover {
  //     outline: $input-type-success-outline;
  //   }
  // }
  // .critical {
  //   outline: $input-type-error-outline;
  //   &:hover {
  //     outline: $input-type-error-outline;
  //   }
  // }
  // .read-only {
  //   background-color: $input-type-read-only-background-color;
  //   color: $input-type-read-only-color;
  //   outline: $input-type-read-only-outline;
  // }
}
